<div>
  <h1>Todo List</h1>
  
  <form (ngSubmit)="addTodo()">
    <input type="text" [(ngModel)]="newTodoText" name="newTodoText" placeholder="Add a new todo" required>
    <button type="submit">Add</button>
  </form>
  
  <ul>
    <li *ngFor="let todo of todos">
      <input type="checkbox" [value]="todo.completed" (change)="toggleCompleted(todo.id)">
      <span [class.completed]="{ 'completed': todo.completed }">{{ todo.text }}</span>
      <button (click)="deleteTodo(todo.id)">Delete</button>
    </li>
  </ul>

  <!--<form (ngSubmit)="getTodoById()">
    <label for="todoId">Enter Todo ID:</label>
    <input type="number" id="todoId" name="todoId" (ngSubmit)="todoId">
    <button type="submit">Get Todo</button>
  </form>

 
  <div *ngFor="let todo of todos">
    <h2>Todo Details</h2>
    <p><strong>Searched Todo:</strong> {{ todo.text }}</p>
  </div>-->
</div>



